<nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-1">
    <a class="navbar-brand" href="#">MOF</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="employees" routerlinkActive="active">employees List</a>
            <a class="nav-item nav-link" routerLink="createEmployee" routerlinkActive="active">creation of employee</a>
        </div>
    </div>
</nav>

<h1 class="text-center text-monospace"> {{title}} </h1>

<div class="container">
    <router-outlet></router-outlet>
</div>